.footer{
    height: 300px;
    width: 100%;
    background-color:#8A2BE2 ;
    flex-direction: column;
    padding-bottom: 0px;
}

.footer .upSide{
    flex-direction: row;
    display: flex;
    height: 80%;
}

.footer .upSide .leftSide{
    width: 50%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 15px;

}

.footer .upSide .leftSide p{
    color: white;
}

.footer .upSide .middle{
    width: 25%;
    height: 100%;
    align-content: center;
    align-items: center;
    color: white;
    padding-top: 15px;

}

.footer .upSide .rightSide{
    width: 25%;
    height: 100%;
    align-content: center; 
    align-items: center;
    color: white;
    padding-top: 8px;

}

.footer .downside{
    width: 40%;
    height: 20%;
    color: white;
    align-items: center;
    align-content: center;
    padding-left: 450px;
    padding-top: 25px;
}

.footer .downside p{
    align-items: center;
    padding-left: 200px;
    padding-bottom: 50px;

}